<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Explorer</title>
    <link rel="icon" type="image/png" href="./images/food.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e5cd7be666.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <a href="#maincontent" class="skip-link btn bg-primary">Menuju ke konten</a>
    
    <header>
        <nav>
            <div class="nav-logo">
                <a href="/"><img src="./images/food.png" alt="Logo Food" width="80px"></a>
            </div>

            <div class="nav-link">
                <ul>
                    <li id="mobileMenu"><button class="btn bg-primary"><i class="fas fa-bars"></i></button></li>
                </ul>
                <ul id="mainNav">
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/favorite">Favorite</a></li>
                    <li><a href="https://www.linkedin.com/in/afadhilprtm/" target="_blank">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="hero">
        <div class="color-overlay">
            <div class="hero__inner">
                <h1 class="hero__title">Datang Untuk Makan, Tinggal Karena Nyaman</h1>
                <p class="hero__tagline">Nikmati berbagai makanan dengan keunikan restoran serta cita rasa lokal</p>
            </div>
        </div>
    </div>
    
    <main>
        <section id="mainContent">
            
        </section>
    </main>
    <footer class="bg-primary">
        Copyright © 2021 - Food Explorer
    </footer>
</body>
</html>
