* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #424242;
}

button{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

/*
 * Header
 *
 */

header{
    background-color: white;
    position: sticky;
    z-index: 99;
    top:0;
    padding: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    color: rgb(80, 80, 80);
    font-weight: bold;
    padding: 24px;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(234,91,73);
}

.nav-logo {
    flex: 1;
}

.nav-link {
    flex: 1;
    align-self: center;
    text-align: right;
}


/* skip to konten */
.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}
/*
 * Top level navigation
 */


/* color */
.bg-primary{
    background-color: rgb(234,91,73);
    color: white;
}

.btn{
display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.575rem 0.95rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.bg-primary:hover{
    color: white;
    background-color: rgb(205, 66, 48);
}

#mobileMenu{
    display: none;
}


/*
 * Jumbotron
 */

.color-overlay{
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background: rgba(41, 41, 41, 0.82);
    z-index: 2;
    background-position: center;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("/images/hero-image_4-large.jpg");
    background-position: center;
}

.img-hero{
    height: 100%;
}

.hero__inner {
    margin: 0 auto;
    max-width: 900px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}


/*
 * main
 */

h1.label-food{
    font-size: 26px;
    width: 100%;
    margin: 40px auto;
    text-align: center;
    font-weight: 300;
}

main{
    margin: 24px 24px;
}

.main-content{
    width: 1000px;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}

.page-label{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* element  */
a.konten-container {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    border-radius: .5rem;
    width: 300px;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

.konten{
    padding: 1rem;
    text-align: justify;
}

.konten-cta{
    /* color: rgb(250, 80, 57); */
    text-align: right;
    font-weight: bold;
}

a.konten-container:hover .konten-cta{
    text-decoration: underline;
}

.konten-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.konten-title{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.konten-subtitle{
    font-weight: bold;
    margin-bottom: 16px;
    color: rgb(80, 80, 80);
}

.konten-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.konten-img{
   height: 100%;
   width: 100%;
}

.detail-content{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#detailRestaurantHeader{
    margin: .5rem 0;
}

.detail-content-header{
    font-weight: bold;
    font-size: 18px;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.detail-content-img{
    width: 100%;
    border-radius: .5rem;
}

.label-img{
    position: absolute;
    bottom: 1rem;
    background-color: #090808e3;
    color: white;
    padding: 1rem;
}

.menu-and-rating{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.menu-rating-content{
    text-align: center;
}

.menu-rating-title{
    font-size: 48px;
    font-weight: 700;
}

.input-text{
    margin-bottom: .8rem;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: inherit;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-text:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgb(226, 119, 105);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(226, 119, 105, 0.25);
}

.no-item-image{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
}

#btnSimpanReviewCont{
    display: flex;
    justify-content: flex-end;
}

.text-error{
    color: rgb(237, 43, 43);
    font-weight: bold;
}

.text-sukses{
    color: rgb(33, 194, 33);
    font-weight: bold;

}

.review-box{
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.review-date{
    color: gray;
    text-align: right;
}

.favorite-btn{
    position: absolute;
    bottom: 0;
    right: 1.5rem;
    padding: 1rem;
    margin-bottom: -1.5rem;
    border: 0;
    border-radius: 50%;
}

.position-relative{
    position: relative;
}

#rating{
    margin-right: 12px;
}

.primary{
    color: rgb(234,91,73);
}

.red{
    color: rgb(230, 57, 57);
}

.orange{
    color: orange;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.font-bold{
    font-weight: bold;
}

.pill-badge{
    display: inline-block;
    padding: .25em .4em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: rgb(230, 57, 57);
    border-color: rgb(230, 57, 57);
    margin-right: .3rem;
}

/* hover effect */

.hvr-glow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
/*
 * footer
 */

footer {
    padding: 2rem;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
